<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExposeMexAndThrottleBehavior">
          <serviceMetadata httpGetEnabled="true"
             httpGetUrl="http://localhost:1111/EventService/Mex"/>
          <serviceThrottling maxConcurrentCalls="3"
             maxConcurrentInstances="100"
             maxConcurrentSessions="100"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="StatusServiceLiberary.StatusService"
             behaviorConfiguration="ExposeMexAndThrottleBehavior">
        <endpoint address="net.tcp://localhost:9999/EventService/"
            binding="netTcpBinding"
            contract="StatusServiceLiberary.IStatusService"/>
        <endpoint address="http://localhost:1111/EventService/Mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>